
/*color del logo btc*/

.bitcoin-item {
    background-color: #ff8000;
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
}

.apiClass{
    padding-left: 120px;
    span{
        color: #99F443;
    }
}
