.content{
	p{
		text-align: center;
		span{
			color: $backColorTwo;
			font-size: $fontText + 0.1;
		}
	}
}

.card{
	background-color: black;
	span{
		color: $backColorTwo;
	}
	.tachar{
		text-decoration: line-through;
		color: white;
	}
}

.ruletaContenido{
	.margenArriba{
		padding-top: 100px;
		@media only screen and (max-width: 767px){
			padding-top: 0px;
		}
	}
	button{
		padding: 7px 15px;
		background-color: black;
		color: $backColorTwo;
		margin-top: 45px;
		border-radius: 10px;
		font-weight: bold;
	}
	p{
		color: $backColorTwo;
	}
	.modal-content{
		background-color: $backColorOne;
		.modal-title{
			color: $backColorTwo;
		}
	}
}

.inputForm{
	input{
		color: white;
		background: none;
		font-size: 15px;
		padding: 10px 10px 10px 5px;
		display: block;
		border: none;
		width: 60%;
		border-bottom: 2px solid whitesmoke;
		&:focus{
			outline: none;
			color: white;
		}
		&:focus~label{
			top: -14px;
			font-size: 12px;
			color: $backColorTwo;
		}
		&:valid~label{
			top: -14px;
			font-size: 12px;
			color: $backColorTwo;
		}
	}
	span{
		font-size: 35px;
		font-weight: bold;
	}
	p{
		font-size: 25px;
		font-weight: bold;
	}
}

@media only screen and (max-width: 767px){
	.agregaPack{
		.margenBottom{
			margin-bottom: 15px;
		}
		.card{
			margin: auto 15px;
		}
	}
	.margenBottom{
		margin-bottom: 15px;
	}
}